body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
h1 {
    font-size:50px;
}
h2 {
    font-size: 40px;
}
.orange {
    color:orange;
}
.tomato {
    color:tomato;
}
.flexible-container {
    display:flex;
    margin-bottom: 100px;
}
.top-banner {
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width {
    width:50%;
    padding-left:5%;
}
.half-width img {
    width:85%;
    padding-top:35px;
}
.half-width p {
    padding-bottom: 10px;
}
a.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.padding-right {
    padding-right: 100px;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-item {
    width:44%;
    margin-left:4%;
    margin-right: 4%;
    box-shadow: 15px 15px 45px gray;
    padding-left: 15px;
    border-radius: 5px;
}
#full-stack-item {
    border-left:7px solid;
    border-image: linear-gradient(green, tomato);
    border-image-slice: 1;
}
#babby-item {
    border-left:7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}